body {
    margin: 0;
    overflow: hidden;

    background-color: #f0f0f0;
    color: #444;
}

#scene-container {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #f0f0f0;
}

#coordinate-label {
    position: absolute;
    top: 100px;
    left: 75px;
    z-index: 2;
}

p {
    margin: 0;
}